{% extends "main_page.html" %}


{% block title %}
        <title> Сброс пароля </title>
{%endblock %}

{% block page_title %}
        Введите новый пароль два раза
{%endblock %}
{% block content %}

<p> Вам осталось ввести новый пароль.
</p>
<form method='post'>
	<ul>
        <li> Новый пароль: <input name="password1" type='password'/></li>
        <li> Еще раз:  <input name="password2" type='password' /></li>
        <input type='hidden' value='{{key}}' name ='key'>

    <input type='submit' value='Продолжить'> </li>
</ul>
{% csrf_token %}

</form>

{% endblock %}