
src/sop/settings_dev.py

ubuntu@instrumera.ru

src/sop/pdns

src/sop/sop_db

dist/be-web-0.0.1.tar.gz

*.pyc

src/sop/settings.pyc

src/sop/settings_dev.pyc

src/sop/settings_dev.pyc

src/sop/urls.pyc

*.pyc

.idea/*

src/constructor.js/node_modules/*
src/constructor/static/js/cp/parsers/jquery.ui.colorpicker-cmyk-parser.js

src/constructor/static/js/sop/old-trash/*
src/constructor.js/src/*.js
