{% extends "main_page.html" %}


{% block title %}
        <title>be-web.ru|Профиль</title>
{% endblock %}

{% block page_title %}
        Мои сайты
{%endblock %}



{% block content %}





{% if sites %}
<h3> Сайты, которыми я владею </h3>
 <p>
     Каждый сайт, созданный в конструкторе обязан иметь хотя бы одно имя в пределах нашей системы ВАШСАЙТ.be-web.ru.
     Однако, имея свой домен вы сможете настроить be-web.ru сайт для вывода на своём домене, например, ВАШСАЙТ.ru.
 </p>
<ul>
	{% for s in sites %}
	
	<li><a href='http://{{s.hostname|first}}/admin/'> {{s.hostname|first }}</a></li>
	
	{% endfor %}
</ul>
{% endif %}


{% if invites %}
<h3>Инвайты на чужие сайты</h3>
<ul>

{% for inv in invites %}
	{% for s in invites %}
	<li><a href='http://{{ s.to }}/admin/'> {{ s.to }}</a>  </li>
	
	{% endfor %}

{% endfor %}
</ul>
{%endif %}

<form method = 'post' action = '{% url "registration_addhost" %}'>
	{% csrf_token %}
	<input name='hostname' />.be-we.ru
	<br>
	<input type='submit' value = 'Добавить сайт'>
</form>


<h3>
    Ключ для доступа приложениям

</h3>
    <p>
        Здесь будет опубликован ключ для автоматической работы с пользовательскими приложениями - загрузки их со своего компьютера на сайт непосредственно
    </p>
        <b>{{ user_app_key }}</b>
{% endblock %}